@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400&display=swap');

/* ------------------------------- Styling voor opdracht 1 en 2  -------------------------------- */

/* Schrijf hier jouw CSS... */








/* ------------------------------- Base Styles: don't change this!  -------------------------------- */

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(212, 36%, 90%);
    color: hsl(210, 93%, 29%);
    text-align: center;
    font-family: 'Roboto Slab', Arial, serif;
    font-weight: 300;
}

h1 {
    margin: 32px;
}

#compliment-container {
    display: flex;
    justify-content: space-around;
    padding: 32px;
}

.compliment {
    background-color: hsl(212, 43%, 65%);
    flex-basis: 200px;
    color: white;
    padding: 32px;
}

.highlight {
    color: hsl(210, 93%, 19%);
    font-weight: 400;
}

footer {
    background-color: hsl(29, 100%, 47%);
    color: white;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}